body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
}

.container {
    border: 5px solid black;
    width: 300px;
    height: 200px;
    background-color: red;
    color: white;
    border-radius: 6px;
}

h2 {
    font-size: 40px;
}

#clockResult {
    font-size: 32px;
}