* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    width: 70px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: red;
    border-radius: 4px;
}